<div>
    <div *ngFor="let searchValue of searchValues">
        <i class="fa fa-trash-o" (click)="deleteSearchValue(searchValue)"></i><search-value></search-value>
        <hr>
    </div>

    <button class="button" (click)="addNewSearch()">Add new search value</button>
    <br>
    <select [(ngModel)]="selectedExportType">
        <option value="">-----</option>
        <option *ngFor="let exportType of exportTypes" value="{{ exportType }}">{{ exportType }}</option>
    </select>
    <button class="button secondary" (click)="exportPaths()">Export Paths</button>

    <div class="reveal" id="exportModal" data-reveal>
        Test:

        {{ exportData }}
    </div>
</div>
