<div class="columns large-12">
    <div class="columns large-11">
        <input class="query" id="{{ id }}" type="text" [(ngModel)]="query" (keyup)="updateResult()" placeholder="Enter a query...">
    </div>
    <i class="fa fa-copy columns large-1" title="Copy this query" (click)="copyQuery()"></i>
    <button class="button jqueryUpdateButton" style="display: none" (click)="updateResult()"></button>
</div>
<div class="columns large-12">
    <div class="columns" style="display: inline;">{{ result | json }} &nbsp;<i class="fa fa-copy" title="Copy this result" (click)="copyResult()"></i></div>
    {{ error }}
</div>

<div class="columns large-12">
    <div class="columns large-11">
        <input class="mapping" id="{{id}}-mapping" type="text" placeholder="Enter a mapping...">
    </div>
</div>
